.index_title {
    color: white;
    background-color: #54aaaa;
    padding: 10px;
    /* width: 100%; */
}

body {
    /* font-family: 'Overpass Mono', monospace; */
    background-color: gainsboro;
}

.display-6 {
    color: #54aaaa;
}

.jumbotron {
    background-color: white;
}


/* @media (max-width: 890px) {
    .nav-title {
        width: 49%;
        transition: width 0.5s ease-in-out;
    }
} */

@media (max-width: 992px) {
    body {
        background-color: white;
    }
    /* .index_title {
        background-color: orange;
        color: #54aaaa;
        width: 100%;
        padding: 10px; */
    }
}
