.index_title {
    color: white;
    background-color: #54aaaa;
    padding: 10px;
    /* width: 100%; */
}

body {
    /* font-family: 'Overpass Mono', monospace; */
    background-color: gainsboro;
}

h2 {
    color: #54aaaa;
    text-align: center;
}

h3 {
    color: #54aaaa;
}

.jumbotron {
    background-color: white;
}


#tablefix {
    overflow-x:auto;
    overflow-y:auto;
    max-height:600px;
    max-width: auto;
}

#tablefix thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background: black;
}

@media (max-width: 992px) {
    body {
        background-color: white;
    }
}
